<h1>Estandares Web</h1>
<p>
    Los "estantes web" son una metáfora utilizada para describir una forma de organizar el contenido en un sitio web. La idea es que los diferentes tipos de contenido (por ejemplo, artículos, videos, imágenes, productos, etc.) se pueden organizar como si estuvieran en estantes separados en una biblioteca o tienda.
    
    Cada "estante" en el sitio web se etiqueta con una categoría o tema específico, lo que permite a los usuarios navegar fácilmente por el contenido que les interesa. Por ejemplo, en un sitio web de comercio electrónico, los productos se pueden organizar en estantes según su categoría (ropa, electrónica, hogar, etc.) o según su función (ropa de invierno, dispositivos móviles, electrodomésticos, etc.).
    
    Los estantes web son una forma útil de organizar grandes cantidades de contenido en un sitio web y ayudar a los usuarios a encontrar lo que están buscando de manera más eficiente. Además, los estantes web también pueden proporcionar una experiencia visual atractiva y coherente en el sitio web.</p>
