<h1>Contacto</h1>

<div class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ex. Kevin" value="" [(ngModel)]="contacto.nombre" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Ex. Japa" value="" [(ngModel)]="contacto.Apellido" required>
      </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</div>

<div class="example-button-row">
  <button mat-fab extended color="accent" (click)="guardar()">
    <mat-icon>G</mat-icon>
    Registrar
  </button>
</div>
