<h1>Listado de Productos</h1>

<ul>
    <table>
        <thead class="tituloTabla" *ngIf="listadoProductosFire.length !== 0">
            <tr >
                <td>Producto</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Eliminar</td>
                <td>Actualizar</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of listadoProductosFire | async"
            >
                <td>{{producto.nombre}}  </td>
                <td>{{producto.descripcion}} </td>
                <td>$ {{producto.precio}}</td>
                <td> <a class="eliminar" (click)="eliminar(producto)">Eliminar</a></td>
                <td><a class="actualizar " (click)="editar(producto)">Modificar</a></td>
            </tr>
        </tbody>
	</table>
</ul>