<nav>
    <ul>
        <li>
            <a routerLink="paginas/inicio">Inicio</a>
        </li>
        <li>
            <a routerLink="paginas/estandaresweb">Estandares Web</a>
        </li>
       <!-- <li>
            <a routerLink="paginas/paginasweb">Paginas Web</a>
        </li>-->
        <li>
            <a routerLink="paginas/Producto">Agregar Productos</a>
        </li>
        <li>
            <a routerLink="paginas/listaProducto">Lista de Productos</a>
        </li>
        <li>
            <a routerLink="paginas/listUsuarios">Lista Usuarios</a>
        </li>
    </ul>
</nav>