<h1>Paginas Web</h1>
<p>Una página web es un documento electrónico que se accede a través de Internet y que puede contener texto, imágenes, videos y otros elementos multimedia.

    Para acceder a una página web, se utiliza un navegador web, como Google Chrome, Mozilla Firefox o Microsoft Edge, que interpreta el lenguaje de marcado de hipertexto (HTML) en el que está escrita la página y la muestra al usuario en la pantalla.
    
    Las páginas web pueden ser estáticas o dinámicas. Las páginas estáticas son aquellas que no cambian su contenido en función de la interacción del usuario. En cambio, las páginas dinámicas son aquellas que ofrecen contenido que se actualiza automáticamente en función de la interacción del usuario o de otros factores.
    
    Las páginas web se organizan en sitios web, que son conjuntos de páginas relacionadas entre sí. Un sitio web puede tener una estructura jerárquica, con una página principal que enlaza con otras páginas secundarias, o bien puede ser un conjunto de páginas independientes.
    
    Algunos de los usos comunes de las páginas web incluyen la publicación de información, la venta de productos o servicios, la comunicación entre personas, la educación, el entretenimiento y la investigación.</p>
