h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  /* Estilo base del botón */
  .button {
    border: 1px solid #00a732; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #00a732;; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }
  