/* Estilos generales del formulario */
h1{
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilos generales del formulario */
.formu{
  text-align: center;
  color: rgb(183, 136, 234);
}

.formulario {
  width: 400px;
  margin: 0 auto;
}

/* Estilos de los campos de entrada */
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Estilos iniciales del botón */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos al pasar el cursor por encima del botón */
button:hover {
  background-color: #45a049;
}

/* Estilos cuando se presiona el botón */
button:active {
  background-color: #3e8e41;
}

/* Estilos cuando el botón está enfocado */
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4CAF50;
}


