.clearfix {
    /* para llamar a una de las clases desde html*/
    clear: both; /* para que los elementos que se estan subiendo se queden en su mismo lugar\*/
  }
.cabecera{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  

.pie{
    top: 10%;
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  