h1{
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.formu{
  text-align: center;
  color: rgb(234, 113, 113);
}
/* Estilos generales del formulario */
.formulario {
  width: 400px;
  margin: 0 auto;
}

/* Estilos de los campos de entrada */
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Estilos iniciales del botón */
button {
  padding: 10px 20px;
  background-color: #4c63af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos al pasar el cursor por encima del botón */
button:hover {
  background-color: #4551a0;
}

/* Estilos cuando se presiona el botón */
button:active {
  background-color: #423e8e;
}

/* Estilos cuando el botón está enfocado */
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4c4eaf;
}

